  <div class="main-footer">
    <div class="copy">
      <p>
        <a href="">关于网易</a>
        <span class="split-line"></span>
        <a href="">客户服务</a>
        <span class="split-line"></span>
        <a href="">服务条款</a>
        <span class="split-line"></span>
        <a href="">网站导航</a>
        <span class="split-line"></span>
        <a href="">意见反馈</a>
      </p>
      <p>
        <span class="sep">网易公司版权所有&copy;1997-2017</span>
        <span>杭州乐读科技有限公司运营：</span>
        <a href="">浙网文[2015] 0415-135号</a>
      </p>
    </div>
    <div class="some">
      <ul>
        <li><a class='footer-logo-musician' href="">独立音乐人</a></li>
        <li><a class='footer-logo-topic' href="">音乐专栏</a></li>
        <li><a class='footer-logo-midea' href="">自媒体</a></li>
        <li><a class='footer-logo-reward' href="">赞赏</a></li>
      </ul>
    </div>
  </div>
