<div class="recommend-playlist wrap">
  <div class="discover-main-left">
    <recommend-playlist-hot></recommend-playlist-hot>
    <recommend-playlist-private></recommend-playlist-private>
    <recommend-playlist-news></recommend-playlist-news>
    <recommend-playlist-toplist></recommend-playlist-toplist>
  </div>
  <div class="discover-main-right">
    <recommend-user-pane></recommend-user-pane>
    <recommend-musician-pane></recommend-musician-pane>
    <recommend-hot-dj-pane></recommend-hot-dj-pane>
  </div>
</div>
