<div class="r-m-p">
  <h3>
    <span class="pull-left">入驻歌手</span>
    <a href="" class="pull-right">查看全部 &gt;</a>
  </h3>
  <ul id="singer-list">
    <li>
      <a href="">
        <div class="head">
          <img src="/images/covers/cover1.jpg" alt="">
        </div>
        <div class="info">
          <h4>
            <span class="nm f-thide">张惠妹aMEI</span>
          </h4>
          <p class="f-thide recruit">台湾歌手张惠妹</p>
        </div>
      </a>
    </li>
    <li>
      <a href="">
        <div class="head">
          <img src="/images/covers/cover1.jpg" alt="">
        </div>
        <div class="info">
          <h4>
            <span class="nm f-thide">张惠妹aMEI</span>
          </h4>
          <p class="f-thide recruit">台湾歌手张惠妹</p>
        </div>
      </a>
    </li>
    <li>
      <a href="">
        <div class="head">
          <img src="/images/covers/cover1.jpg" alt="">
        </div>
        <div class="info">
          <h4>
            <span class="nm f-thide">张惠妹aMEI</span>
          </h4>
          <p class="f-thide recruit">台湾歌手张惠妹</p>
        </div>
      </a>
    </li>
  </ul>
  <div>
    <a href="" class="btn" hidefocus='true' target="_blank">
      <i>申请成为网易音乐人</i>
    </a>
  </div>
</div>
