<!--<div class="header" ng-controller="NavBarTopCtrl">-->
<div class="hreder">
  <div class="navbar" role="navigation">
    <div class="navbar-top">
      <div class="wrap">
        <div class="logo">
          <a class="navbar-brand" href="/#!/">{{ navBarTopCtrl.appName }}</a>
        </div>
        <ul class="nav navbar-nav">
          <li ng-repeat="_nav in navBarTopCtrl.navs" ng-class="{active: _nav.active}" role="button">
            <span>
              <!--<a ng-href="{{ _nav.href }}">-->
              <a ng-href="{{ _nav.href | ngHrefPrefix }}" ng-click="navBarTopCtrl.active($index)">
                <em>{{ _nav.text }}</em>
                <sub class="cor"></sub>
              </a>
            </span>
          </li>
        </ul>
        <div class="navbar-top-head">
          <div class="navbar-top-head-wrap">
            <a>
              <img ng-src="{{ navBarTopCtrl.currentUser.avatar }}" width="70" height="70" alt="head" title="{{ navBarTopCtrl.currentUser.username }}">
            </a>
          </div>
          <div class="navbar-top-head-actions-list">
            <div>
              我的主页
            </div>
            <div>
              我的等级
            </div>
            <div>
              会员中心
            </div>
            <div class="line"></div>
            <div>
              个人设置
            </div>
            <div class="line"></div>
            <div>
              退出
            </div>
          </div>
        </div>
        <div class="navbar-top-message">

        </div>
        <div class="navbar-top-search">
          <div class="navbar-top-search-wrap">
            <input type="text" placeholder="单曲/歌手/专辑/歌单/MV/用户">
          </div>
        </div>

      </div>
    </div>
    <div class="navbar-middle"></div>
    <div class="subnav" ng-show="navBarTopCtrl.navs[navBarTopCtrl.currentActiveIndex].subs">
      <div class="wrap">
        <ul>
          <li ng-repeat="_sub in navBarTopCtrl.navs[navBarTopCtrl.currentActiveIndex].subs" ng-class="{active: _sub.active}" role="button"
            ng-click="navBarTopCtrl.activeSub(_sub)">
            <a ng-href='{{ _sub.href | ngHrefPrefix }}'><em>{{ _sub.text }}</em></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
